@media screen and (max-width: 1400px) {
    #hero {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #hero, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #hero {
        height: 83vh;
        margin-bottom: 2rem;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .contact-info-upper-container {
        flex-direction: column;
    }
    
    .contact-info-container {
        margin: 0 0.5rem;
    }
    .contact-info-container p, .new-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container {
        width: auto;
        height: 46vh;
        justify-content: center;
    }

    #hero > .section_pic-container {
        width: auto;
        height: auto;
        justify-content: center;
    }

    #about {
        margin-top: 0;
    }

    .avatar {
        width: 200px;
        height: 200px;
        margin-bottom: 0;
    }
    
    .section_text_p2 {
        font-size: 1.5rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: center;
    }
    .about-pic {
        margin-top: 2rem;
    }
}
