/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

h3 {
    color: #333333;
}

/* TEXT CUSTOM LINK COLOR*/

.custom-link {
    color: #007bff;        /* Blue link color */
    text-decoration: underline;
    cursor: pointer;       /* Hand cursor */
  }
  
  .custom-link:hover {
    color: #B056ED;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #B056ED;         /* Darker on hover */
  }

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP-NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #333333;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #B056ED;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #B056ED;
} 

.logo {
    color: #222222;
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER-MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #333333;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    color: #B056ED;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #B056ED;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* HERO SECTION*/

#hero {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 70vh;
}

.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    color: #333333;
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
    font-size: 1.4rem;
}

.section_text_p2 {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.title {
    color: #222222;
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon-hero {
    cursor: pointer;
    height: 2rem;
    filter: invert(20%) sepia(27%) saturate(0%) hue-rotate(211deg) brightness(90%) contrast(98%);
}

.icon-hero:hover {
    filter: invert(52%) sepia(93%) saturate(4630%) hue-rotate(251deg) brightness(99%) contrast(88%);
}

.icon-arrow {
    cursor: pointer;
    height: 2rem;
    filter: invert(20%) sepia(27%) saturate(0%) hue-rotate(211deg) brightness(90%) contrast(98%);
}

.icon-arrow:hover {
    filter: invert(52%) sepia(93%) saturate(4630%) hue-rotate(251deg) brightness(99%) contrast(88%);
}

.icon-about {
    height: 2rem;
    filter: invert(20%) sepia(27%) saturate(0%) hue-rotate(211deg) brightness(90%) contrast(98%);
}

.icon-experience {
    height: 1.2rem;
    filter: invert(20%) sepia(27%) saturate(0%) hue-rotate(211deg) brightness(90%) contrast(98%);
}

.icon {
    cursor: pointer;
    height: 2rem;
    filter: invert(16%) sepia(56%) saturate(7093%) hue-rotate(279deg) brightness(86%) contrast(99%);
}

.icon:hover {
    filter: invert(52%) sepia(93%) saturate(4630%) hue-rotate(251deg) brightness(99%) contrast(88%);
}

.icon-contact {
    height: 2rem;
    filter: invert(20%) sepia(27%) saturate(0%) hue-rotate(211deg) brightness(90%) contrast(98%);
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1 {
    background-color: #333333;
    color: white;
}
 
.btn-color-2 {
    background-color: white;
    color: #333333;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
    background-color: #B056ED;
    color: white;
    border: #B056ED 0rem solid;
}


/* ABOUT SECTION */

#about {
    position: relative;
    margin-bottom: 2rem;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: #444444 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.text-container {
    line-height: 1.8rem;
}

.about-me {
    font-size: 1.05rem;
    font-weight: 400;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: #333333;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

/* PROJECTS SECTION*/

#projects {
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: #333333;
}

.project-btn {
    border-color: rgb(163, 163, 163);
    color: #333333;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    align-item: center;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
    max-width: 600px;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

/* FOOTER SECTION*/

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

/* FADE SECTION ANIMATION */

.fade-section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}
  
.fade-section.show {
    opacity: 1;
    transform: translateY(0);
}
